[user]
	name = htlsne
	email = htlsne23@gmail.com
[push]
	default = simple
[alias]
	st = status
	ca = commit -a
	di = diff
	dic = diff --cached
	co = checkout
	cm = commit
  sw = switch
  rs = restore
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[include]
    path = .gitconfig.os
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[diff]
	algorithm = histogram
	colorMoved = dimmed-zebra
	tool = nvimdiff
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[difftool "nvimdiff"]
	cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
	cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
