[core]
	excludesfile = /Users/ht/.gitignore
[user]
	name = htjotk
	email = htjotk@server.fake
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	st = status
	ca = commit -a
	di = diff
