[core]
	excludesfile = /Users/ht/.gitignore
[user]
	name = htlsne
	email = htlsne@users.noreply.github.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	st = status
	ca = commit -a
	di = diff
	co = commit
	cm = commit
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[url "git@github.com:"]
	insteadOf = https://github.com/
